.footer-background {
    background-color: var(--primary-color);
    padding: 16px;
  }
  
  .footer-widget h2 {
    margin: 0 0 1rem;
    font-size: 1.5em;
  }
  
  .footer-menu-container {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 2em 0 0;
  
      li {
        list-style: none;
        padding: 0 .5em 0;
  
        a {
          color: #fff;
          text-decoration: none;
  
          &:hover {
            color: #ffb3b3;
          }
        }
      }
    }
  }
  
  .footer-foreground a {
    color: white;
    transition-duration: .1s;
  
    &:hover {
      color: #ffb3b3;
    }
  }
  
  .footer-widget {
    ul {
      li {
        list-style: none;
        
        &::before {
          content: '#';
          padding: 0 .5em 0 0;
        }
      }
    }
  }
  
  .footer-above {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding: 1rem 0;
  }
  
  .footer-below {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .8em;
    padding: 1rem 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .copyright,
  .footer-menu-container {
    line-height: 1em;
  }
  
  .copyright-name {
    font-size: 1em;
  }
  
  .footer-widget {
    line-height: 2;
    margin: 0 0 2em;
  }