#ez-toc-container {
    background: #fff !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 1px solid #eee !important;
  }
  
  .ez-toc-list li {
    line-height: 2 !important;
  }
  
  div#ez-toc-container p.ez-toc-title {
    font-weight: bold !important;
  }
  
  div#ez-toc-container p.ez-toc-title {
    font-size: 100% !important;
  }
  
  #ez-toc-container p.ez-toc-title {
    line-height: 1 !important;
    padding: 8px 0 16px 0 !important;
  }
  
  #ez-toc-container a {
    transition-duration: .1s;
  }

  @import url(toc);