/*
/* JUMP TO TOP
*/

.jump-to-top-container {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
  }
  
  .jump-to-top-container * {
    transition: all 0.2s ease 0s;
  }
  
  .jump-to-top {
    display: block;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 0 0 1px #fff;
    border-radius: 100%;
    filter: opacity(.5);
    z-index: 100;
  }
  
  .jump-to-top:hover {
    background-color: #f3f3f3;
    box-shadow: 0 0 0 1px var(--primary-color);
    filter: opacity(1);
  }
  
  .arrow-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .arrow {
    width: 1rem;
    height: 100%;
    fill: #fff;
  }
  
  .jump-to-top:hover .arrow-wrapper .arrow {
    fill: var(--primary-color);
  }