:root {
    --soundcloud: url(../img/social-icons/soundcloud.svg);
    --youtube: url(../img/social-icons/youtube.svg);
    --twitter: url(../img/social-icons/twitter.svg);
    --skeb: url(../img/social-icons/skeb.svg);
    --discord: url(../img/social-icons/discord.svg);
    --github: url(../img/social-icons/github.svg);
    --sanctunes: url(../img/social-icons/sanctunes.svg);
  }

.menu-social_links-container {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0 0 0;
  }
  
  #followmelink {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    max-width: 15rem;
    flex-wrap: wrap;
  }
  
  .social-icon {
    border-radius: 4px;
    border: 1px solid #eee;
    display: block;
    height: 3rem;
    margin: 0 0 .3rem .3rem;
    width: 3rem;
    transition-duration: .1s;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
  }
  
  .social-icon:hover {
    border: 1px solid #fff;
    background-color: #eee;
  }
  
  .social-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .social-icon img {
    height: 2rem;
    width: 2rem;
  }
  
  .soundcloud {
    background-image: var(--soundcloud);
  }
  
  .youtube {
    background-image: var(--youtube);
  }
  
  .twitter {
    background-image: var(--twitter);
  }
  
  .skeb {
    background-image: var(--skeb);
  }
  
  .discord {
    background-image: var(--discord);
  }
  
  .github {
    background-image: var(--github);
  }
  
  .sanctunes {
    background-image: var(--sanctunes);
    background-size: 5em;
    width: 6.4rem;
  }
  