<div class="post-adjecent">
    <div class="post-adjecent-icon dashicons dashicons-arrow-left-alt"></div>
    <h2 class="post-adjecent-guide-text">
        {% block title %}{% endblock %}
    </h2>
    <div class="post-adjecent-title">
        {% block link %}{% endblock %}
    </div>
</div>
