<div class="front-wallpaper-container">
    <div class="front-wallpaper-inner {{ classes }}">
        <h1 class="front-wallpaper-header">{{ header }}</h1>
        <div class="front-wallpaper-content">{{ content }}</div>
    </div>
    <div class="front-wallpaper-container-rotate">
        <div class="front-wallpaper"></div>
        <div class="frog"></div>
    </div>
</div>
