@mixin margin-top {
  padding-top: 4rem;
}

:root {
  --theme-color-blue: #2d4059;
  --theme-color-red: #bb2a2a;
  --theme-color-black: #333;
  --theme-color-pink: #ffb3b3;
  --theme-color-yellow: #fce100;
  --theme-color-white: #f3f3f3;
  --border-color: #eee;
  --theme-anchor-color: #175199;
  --background-color: #fff;
  --default-font-family: "YakuHanJP", "Open Sans", "Hiragino Kaku Gothic Pro", "Meiryo", "MS PGothic", sans-serif;
  --monospace-font-family: "Roboto Mono";
  --container-width: 1140px;
  --medium-viewport-width: 768px;
  --large-viewport-width: 1024px;
  --theme-shadow: #00000021 0px 10px 20px;
  --theme-common-border-radius: 4px;
  --theme-common-transition-duration: 250ms;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--background-color);
  color: var(--theme-color-black);
  line-height: 1;
  font-size: 0.9em;
  @media screen and (min-width: 768px) {
    font-size: 1em;
    line-height: 1;
  }
}

p {
  word-break: break-all;
  line-height: 1.75;

  @media screen and (min-width: 768px) {
    line-height: 2;
  }
  & + & {
    margin: 1em 0;
  }

  a {
    color: var(--theme-anchor-color);
    text-decoration: none;
    transition-duration: var(--theme-common-transition-duration);
    line-break: anywhere;
  }

  a:hover {
    text-decoration-line: underline;
  }
}

a {
  cursor: pointer;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

textarea,
input[type="text"],
input[type="password"] {
  outline: none;
  position: relative;
  background: none;
  font-size: 1rem;
  margin: 5px 0;
  padding: 1em;
  border-width: 0;
  border-bottom: 2px solid var(--border-color);
  border-radius: 0px;
}

textarea {
  font-family: var(--default-font-family);
  width: 100%;
  height: 8em;
  resize: none;
  transition: all var(--theme-common-transition-duration);
  animation-timing-function: ease;

  &:focus {
    background-color: var(--theme-color-white);
    border-bottom: 2px solid var(--theme-color-black);
  }
}

input[type="text"] {
  width: 80%;
  transition: all var(--theme-common-transition-duration);
  animation-timing-function: ease;

  &:focus {
    background-color: var(--theme-color-white);
    border-bottom: 2px solid var(--theme-color-black);
  }
}

input[type="submit"] {
  border-radius: var(--theme-common-border-radius);
  background-color: var(--theme-color-blue);
  border: var(--theme-color-blue) solid 1px;
  padding: 12px 18px;
  font-weight: bold;
  display: block;
  color: var(--theme-color-white);
  text-align: center;
  text-decoration: none;
  transition: all var(--theme-common-transition-duration);

  &:hover {
    color: var(--theme-color-blue);
    background-color: var(--theme-color-white);
    border: var(--theme-color-blue) solid 1px;
  }
}

/*
/* Media Layouts
*/

.container {
  margin: 0 auto;
  padding: 0em 16px 0;
}

.container-full-width {
  width: 100%;
}

.container-big {
  @media screen and (min-width: 1024px) {
    max-width: var(--container-width);
  }
}

.content-wrapper-normal {
  margin-top: 2rem;
  @media screen and (min-width: 768px) {
    max-width: var(--medium-viewport-width);
  }
}

.wp-block-group__inner-container ul {
  margin: 0;
  padding: 0;
}
.wp-block-group__inner-container h2,
.wp-block-group__inner-container h3 {
  font-weight: normal;
}

.wp-block-group__inner-container a {
  text-decoration: none;
}

/*
/* Navigation stuff
*/

.top-navigation-foreground {
  display: grid;
  overflow-x: auto;
  grid-template-columns: minmax(min-content, min-content) 1fr;
  grid-template-rows: 4rem;
  padding: 0 !important;
  z-index: 100;
}

.top-navigation {
  width: 100%;
  position: fixed;
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: ease;
  z-index: 50;
}

.hasBgColor[class^="top-navigation"] {
  background-color: var(--theme-color-blue);
}

.top-navigation-img-link {
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-duration: var(--theme-common-transition-duration);
  padding-left: 0.5rem;
  padding-right: 0;
  color: var(--theme-color-white);
  font-size: 0;
  font-family: var(--monospace-font-family);

  @media screen and (min-width: 768px) {
    padding-right: 0.5rem;
    font-size: 0.8em;
  }

  &:hover {
    background-color: var(--background-color);
    color: var(--theme-color-blue);
  }

  &::before {
    content: "";
    display: block;
    background: url(files/img/favicon.png) no-repeat center top / cover;
    width: 48px;
    height: 48px;
    font-size: 0;
    border-radius: 999px;
    margin-right: 10px;

    @media screen and (min-width: 768px) {
      display: initial;
    }
  }
}

.top-navigation-menu-container {
  font-family: var(--monospace-font-family);
  height: 100%;
  white-space: nowrap;
  margin: 0 0 0 auto;
  padding: 0;
  font-size: 1em;
  list-style: none;
  display: flex;
  @media screen and (min-width: 768px) {
    width: auto;
  }

  li {
    height: 100%;

    a {
      color: var(--theme-color-white);
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem 0 0;
      transition-duration: var(--theme-common-transition-duration);

      &:before {
        padding: 0 1rem 0 1rem;
        content: ">";
      }

      &:hover {
        background-color: var(--background-color);
        color: var(--theme-color-blue);
      }
    }
  }
}

/*
/* an article / website names in the header
/* this header can display some description
*/

.jumbotron {
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron-background {
  font-family: var(--monospace-font-family);
  display: grid;
  grid-gap: 2rem;
  color: var(--theme-color-white);
  text-shadow: var(--theme-shadow);
  height: 20rem;
  align-content: center;
  padding-top: 4rem;
}

.align-left {
  justify-items: left;
}

.align-center {
  justify-items: center;
}

.jumbotron-page-title {
  font-weight: normal;
  font-size: 2em;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 2em;
  }
}

.jumbotron-page-info {
  font-size: 0.7em;
  padding: 0;
  font-family: var(--default-font-family);

  @media screen and (min-width: 768px) {
    font-size: 0.9em;
  }
}

.full-device-height[class^="jumbotron"] {
  height: calc(100vh - 0rem);
}

.full-device-height[class^="jumbotron-background"] {
  height: 100%;
}

.big[class^="jumbotron-page-title"] {
  font-size: 8vmin;
}

.big[class^="jumbotron-page-info"] {
  font-size: 3vmin;
  font-weight: 700;
  font-family: var(--default-font-family);
}

ul.page-metadata {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 6px 0 0;
    display: inline-block;

    i {
      margin: 0 4px 0 0;
    }

    a {
      text-decoration: none;
      color: var(--theme-color-black);
    }
  }
}

.grid-test {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 2rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}


/*
/* Header stuff (when single posts)
*/

.jumbotron-featured-image {
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1.91 / 1;
  width: min(1140px);
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    background-position: center;
    background-size: contain;
    height: 50vh;
  }
}

/*
/* Icon stuff
*/

.meta-icon {
  height: 1em;
  width: 1em;
  margin: 0 4px 0 0;
  vertical-align: -0.125em;
  fill: currentColor;
  stroke: currentColor;
}

/*
/* Table layout
*/

.wp-block-table td,
.wp-block-table th {
  padding: 0.5em 0.7em;
  border: 1px solid var(--border-color);
}

.is-style-stripes td,
.is-style-stripes th {
  border-color: var(--border-color) !important;
}

thead > tr > th {
  background-color: var(--theme-color-blue);
  color: var(--theme-color-white);
  font-weight: bold;
}

tr td strong {
  font-weight: bold;
}

.is-style-stripes {
  border-bottom: 0px solid var(--border-color) !important;
}

.table-wrap {
  overflow-x: auto;
  white-space: nowrap;
  margin: 1rem 0;

  table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
  }

  tr:nth-child(even) {
    background-color: #e1e1e1;
  }

  caption {
    margin: 1em;
    font-weight: bold;
  }

  thead th {
    background-color: var(--theme-color-blue);
    color: var(--theme-color-white);
  }

  th,
  td {
    padding: 0.5em 1em;
    border: 1px solid var(--border-color);
  }
}

li::marker {
  color: var(--theme-color-blue);
}

/*
/* Main content
*/

.content-rules {
  p {
    code,
    kbd,
    samp {
      border: 1px solid var(--border-color);
      font-family: var(--monospace-font-family);
      margin: 0 .25rem;
      padding: .25rem .5rem;
    }

    strong {
      font-weight: bold;
    }
  }

  ul,
  ol {
    padding: 0 0 0 2em;
    margin: 1em 0;
    line-height: 1.5;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  pre {
    margin: 1rem 0;
    font-family: monospace;
    overflow: auto;
  }

  ul > strong,
  ol > strong {
    font-weight: bold;
  }

  mark {
    background: linear-gradient(
        0deg,
        var(--theme-color-yellow),
        var(--theme-color-yellow)
      )
      no-repeat;
    background-size: 100% 33%;
    background-position: bottom;
  }
}

/*
/* Content left-side
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 1em;
}

.profile-img {
  border-radius: 10px 10px 0 0;
}

.content-rules {
  img {
    max-width: 100%;
    /* width: 100%; */
    height: auto;
    transition-duration: var(--theme-common-transition-duration);
    vertical-align: bottom;
  }

  video {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  h2 {
    margin: 2rem 0 1rem 0;

    &::after {
      content: "";
      display: block;
      margin-top: 1rem;
      width: auto;
      height: 1px;
      background-color: var(--theme-color-red);
    }

    &:first-child {
      margin: 0 0 1rem;
    }
  }

  h3 {
    margin: 1.5rem 0 1rem 0;
    display: flex;
    align-items: center;
    height: 3rem;

    &::before {
      content: "";
      display: block;
      background-color: var(--theme-color-blue);
      height: 3rem;
      width: 2px;
      margin: 0px 0.75em 3px 0px;
      float: left;
    }
  }
}

.content-warning {
  border-left: 6px solid var(--theme-color-pink);
  background-color: var(--background-color);
  margin: 1rem 0;
  padding: 1em;

  h3,
  h4 {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }

  h3::before,
  h4::before {
    content: "⚠️";
    padding: 0 0.5em 0 0;
  }
}

.content-notified {
  border-left: 6px solid var(--theme-color-yellow);
  background-color: var(--background-color);
  margin: 1rem 0;
  padding: 1em;

  h3,
  h4 {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }

  h3::before,
  h4::before {
    content: "💡";
    padding: 0 0.5em 0 0;
  }
}

.content-above {
  margin: 0 auto;
  max-width: var(--medium-viewport-width);
  grid-template-columns: 1fr;
  @media screen and (min-width: 0px) {
    grid-row-gap: 1rem;
  }
}

.content-bottom {
  margin: 3rem 0 2rem;
}

.post-thumbnail-wrap {
  padding: 0rem 0 0.8rem 0;
}

/*
/* things that defines the style of metadata on a single post page
/* such as postdate, tags, categories
*/

div[class^="post-metadata"] {
  font-size: .8em;
  display: flex;
  align-items: center;

  li {
    list-style: none;
  }
}

.in-line-picture-middle {
  vertical-align: middle !important;
  margin: 0 0.25em;
  width: 2em !important;

  &:hover {
    filter: opacity(1);
  }
}

/*
/* Footer stuff
*/

.footer {
  background-color: var(--theme-color-blue);
}

.grid-footer {
  font-family: var(--monospace-font-family), var(--default-font-family);
  color: var(--theme-color-white);
  padding: 2rem 16px 2rem;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
  grid-row-gap: 2rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    grid-row-gap: 0rem;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    color: var(--theme-color-white);
    text-decoration: none;
    transition-duration: var(--theme-common-transition-duration);

    &:hover {
      color: var(--theme-color-pink);
    }
  }

  h2 {
    margin: 0 0 1em;
    font-size: 1.5em;
    font-weight: normal;
  }

  ul {
    padding: 0;

    li {
      list-style: none;

      &::before {
        content: "#";
        padding: 0 0.5em 0 0;
      }
    }

    * + * {
      margin-left: 2em;
    }
  }
}

.widget_block {
  grid-column: 1/4;
  list-style: none;
}

.footer-item {
  font-size: 0.8em;
  margin-top: 1em;

  @media screen and (min-width: 768px) {
    margin-top: 0em;
    grid-column: 1/2;
    text-align: left;
  }
}

.copyright {
  text-align: center;
  grid-column: 1/2;

  @media screen and (min-width: 768px) {
    grid-column: 1/2;
    text-align: left;
  }

  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
  }
}

.copyright-name {
  font-size: 1em;
}

.footer-menu-container {
  grid-column: 1/2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;

  @media screen and (min-width: 768px) {
    margin: 0 0 0 auto;
    grid-column: 2/3;
  }

  @media screen and (min-width: 1024px) {
    grid-column: 3/-1;
  }

  .footer-menu-container li {
    list-style: none;
    padding: 0 0.5em 0;

    @media screen and (min-width: 768px) {
      padding: 0 0 0 1em;
    }
  }
}

/* 
/* Front content right-side bottom (follow-link)
*/

#followmelink {
  padding: 2rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: repeat(2, 3rem);
  grid-gap: .3rem;
  margin: 0;
  place-content: end;

  li {
    border-radius: var(--theme-common-border-radius);
    border: 1px solid var(--border-color);
    transition-duration: var(--theme-common-transition-duration);
    list-style: none;

    &:hover {
      background-color: var(--border-color);
    }

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 75%;
      }
    }

    img {
      height: 2rem;
      width: 2rem;
    }
  }
}

.sanctunes {
  grid-column: 3 / 5;
}

/*
/* Post navigation
*/

.navigation {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 2rem 0;
}

.nav-links {
  width: 100%;
  display: flex;
  font-family: var(--monospace-font-family);
  flex-flow: wrap;
  justify-content: center;

  *[class^="nav-"] a {
    transition-duration: var(--theme-common-transition-duration);
    margin: 0 0.5rem;
    &:hover {
    }
  }

  .current {
    background: var(--theme-color-blue);
    color: var(--theme-color-white);
    border: 1px solid var(--theme-color-blue);
  }

  .dots {
    background: var(--theme-color-white);
    border: 1px solid var(--border-color);
  }
}

.page-numbers {
  border: 1px solid var(--border-color);
  width: 3em;
  height: 3em;
  color: var(--theme-color-blue);
  margin: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--theme-common-transition-duration);
  text-decoration: none;

  &:hover:not(.current, .dots) {
    color: var(--theme-color-white);
    background: var(--theme-color-blue);
    border: 1px solid var(--theme-color-blue);
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/*
/* The page that shows the entries
*/

.entry-content-metadata {
  font-size: 0.75em;

  li {
    margin: 0 0 0 1em;

    i {
      margin: 0 4px 0 0;
    }
  }
}

.tag {
  display: inline-block;
  margin: 2px;

  a {
    display: inline-block;
    border: 1px solid var(--border-color);
    padding: 4px;
    transition: var(--theme-common-transition-duration);
    color: var(--theme-color-black);
    text-decoration: none;

    &:hover {
      border: 1px solid #a2a2a2;
    }
  }
}

.entries {
  grid-gap: 1rem;
}

.entry-content {
  color: var(--theme-color-black);
  display: block;
  text-decoration: none;
  border: 1px solid var(--border-color);
  transition-duration: var(--theme-common-transition-duration);

  &:hover {
    opacity: 0.5;
  }

  .post-thumbnail-wrapper {
    width: 100%;
    height: auto;

    .post-thumbnail-overlap {
      padding: 0.5rem;
      position: absolute;
      color: var(--theme-color-white);
      background-color: var(--theme-color-blue);
      font-size: 0.8em;
      font-weight: bold;
      z-index: 1;
    }

    .post-thumbnail {
      width: 100%;
      height: auto;
    }
  }

  .post-description {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    position: relative;

    .entry-content-metadata-wrapper {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
    }

    .post-title-wrapper {
      padding-top: 10px;

      h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
    }
  }
}

/*
/* Table of Contents
*/

#ez-toc-container {
  background: var(--background-color) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 1px solid var(--border-color) !important;
}

.ez-toc-list li {
  line-height: 1 !important;
}

div#ez-toc-container p.ez-toc-title {
  font-weight: bold !important;
}

div#ez-toc-container p.ez-toc-title {
  font-size: 100% !important;
}

#ez-toc-container p.ez-toc-title {
  line-height: 1 !important;
  padding: 8px 0 16px 0 !important;
}

#ez-toc-container a {
  transition-duration: var(--theme-common-transition-duration);
}

/*
/* Front Page
*/

.content-title {
  display: inline-block;
  font: normal 1.5em/1 var(--monospace-font-family);

  &::after {
    content: "";
    display: block;
    background-color: var(--theme-color-red);
    margin: 0.5rem 0 0 0;
    width: auto;
    height: 1px;
  }
}

.large-section-wrapper {
  margin: 0 0 24px;
  margin: 2rem 0;

  @media screen and (min-width: 768px) {
    padding: 2rem;
  }
}

.large-section-wrapper-a {
  grid-column: 1/2;

  @media screen and (min-width: 768px) {
    grid-column: 1/3;
  }

  @media screen and (min-width: 1024px) {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}

.large-section-wrapper-b {
  display: flex;
  justify-content: center;
  grid-row: 1/2;
  grid-column: 1/3;

  @media screen and (min-width: 1024px) {
    grid-row: 1/3;
    grid-column: 3/4;
    aspect-ratio: 1/1;
  }
}

.large-section-wrapper-b img {
  width: 50vw;
  border-radius: 999px;

  @media screen and (min-width: 1024px) {
    width: 100%;
  }
}

.wrap-box {
  padding: 2rem;
  margin: 2rem 0;
  border: 1px solid #d2d2d2;
}

.works h2 {
  margin: 0px;
  display: block;
  border-left: 3px solid var(--theme-color-blue);
  font-weight: normal;
  font-family: var(--monospace-font-family), var(--default-font-family);
  margin: 0 0 0.5em;
  padding: 1rem 0 1rem calc(1rem - 3px);
  font-size: 1.1em;

  @media screen and (min-width: 768px) {
    padding: 1rem 0 1rem calc(2rem - 3px);
    font-size: 1.2em;
  }
}

.media {
  width: 100%;
  background: transparent;
  margin: 0rem 0 1rem;
  display: flex;
  justify-content: center;
}

.large {
  grid-column: 1/2;

  @media screen and (min-width: 768px) {
    grid-column: 1/3;
  }

  @media screen and (min-width: 1024px) {
    grid-column: 1/3;
  }
}

.large-2 {
  grid-column: 1/2;

  @media screen and (min-width: 768px) {
    grid-column: 1/3;
  }

  @media screen and (min-width: 1024px) {
    grid-column: 2/4;
  }
}

.media-1 iframe,
.media-2 iframe {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.media-1 {
  aspect-ratio: 16/9;
}

.media-2 {
  aspect-ratio: 1/1;
}

.item {
  @media screen and (min-width: 768px) {
    transition: all var(--theme-common-transition-duration);
  }
}

.item-border {
  @media screen and (min-width: 768px) {
    border: 1px solid var(--border-color);
  }
}

.works-item {
  padding-bottom: 1em;
}

.works {
  padding-bottom: 1em;
  grid-gap: 2rem;
  @media screen and (min-width: 768px) {
  }
}

@media screen and (hover: hover) {
  .animated-when-hovered {
    transition: all var(--theme-common-transition-duration) ease;
  }

  .animated-when-hovered:hover {
    transform: translateY(-10px);
    box-shadow: var(--theme-shadow);
  }
}
/*
/* Individuals
*/

#works > div > p {
  margin: 0px;
  font-size: 0.9em;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    padding: 0rem 2rem 0.5em;
    font-size: 0.8em;
  }
}

#whoami > div > div > p {
  margin: 0 0 0.5rem;
}

.whoami-inside {
  @media screen and (min-width: 768px) {
    grid-gap: calc(0.5rem + 24px);
  }
}

/*
/* JUMP TO TOP
*/


.toheaderbutton-container {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 3rem;
  right: 2rem;

  * {
    transition: all var(--theme-common-transition-duration) ease;
    margin: 0;
    padding: 0;
  }
}

.toheaderbutton {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  background-color: var(--theme-color-blue);
  fill: var(--background-color);
  border-radius: 999px;
  filter: opacity(0.8);
  z-index: 50;
  box-shadow: var(--theme-shadow);
  
  @media (hover: hover) {
    &:hover {
      background-color: var(--background-color);
      filter: opacity(1);
    }

    &:hover svg {
      fill: var(--theme-color-blue);
    }
  }

  @media (hover: none) {
    &:active {
      background-color: var(--background-color);
      filter: opacity(1);
    }

    &:active svg {
      fill: var(--theme-color-blue);
    }
  }

  svg {
    fill: var(--background-color);
  }
  
  .icon-arrow {
    width: 1rem;
  }
}

/*
/* ブロックエディタのCSS割り当て
*/

.alignfull[class^="wp-block"] {
  margin: 0 calc(50% - 50vw);
}

.alignwide[class^="wp-block"] {
  margin: 0 calc(50% - 50vw);

  @media screen and (min-width: 1140px) {
    margin: 0 calc(50% - calc(var(--container-width) / 2));
  }
}

// デバッグ用

.debugInfo-wrap {
  visibility: hidden;
  width: 20rem;
  height: 4rem;
  position: fixed;
  bottom: 2rem;
  left: 0;
  background-color: var(--theme-color-blue);
  padding: 1rem;
  z-index: 50;
  box-shadow: var(--theme-shadow);

  * {
    color: var(--theme-color-white);
    font-family: var(--monospace-font-family);
    margin: 0;
  }
}

.isHidden {
  visibility: hidden;
}

.isVisible {
  visibility: visible;
}

.word-wrap-block {
  display: inline-block;
}

.two-columns {
  grid-template-columns: repeat(1, 1fr);
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pagenav {
  background-color: var(--theme-color-blue);
  color: var(--theme-color-white);
  height: 2rem;
  padding: 0.5rem;

  a {
    color: var(--theme-color-white);
    text-decoration: none;
    display: block;
    transition-duration: var(--theme-common-transition-duration);

    &:hover {
      background-color: var(--background-color);
      color: var(--theme-color-blue);
    }
  }
}

/*
/* コメント欄とフォーム
*/

.comment-list {
  margin-top: 2rem;
  list-style: none;
}

.comments-title {
  display: inline;
}

.comments-area {
  margin-top: 3rem;
}

.comment-respond {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
}

.wrap-label {
  margin: 0.5em 0;

  label {
    font-size: 1em;
  }
}

.logged-in-as,
.comment-reply-title {
  margin-bottom: 0.5rem;
}

div[class^="comment-form"] {
  margin-bottom: 1.5em;
  font-size: 0.9em;
}

.logged-in-as {
  font-size: 0.8em;
}

.comment-is-logged-in,
#cancel-comment-reply-link {
  display: inline-block;
  padding: 0.3rem;
  margin-left: 0.5em;
  transition-duration: var(--theme-common-transition-duration);
  font-weight: bold;
  border-radius: var(--theme-common-border-radius);
  border: 1px solid var(--theme-color-red);
  background-color: var(--theme-color-red);
  color: var(--theme-color-white);
  text-decoration: none;
  font-size: 0.8rem;

  &:hover {
    border: 1px solid var(--theme-color-red);
    background-color: var(--theme-color-white);
    color: var(--theme-color-red);
  }
}

.comment-reply-link {
  display: inline-block;
  padding: 0.25rem;
  margin-top: 0.5em;
  transition-duration: var(--theme-common-transition-duration);
  font-weight: bold;
  border: 1px solid var(--theme-color-blue);
  background-color: var(--theme-color-blue);
  color: var(--theme-color-white);
  text-decoration: none;
  font-size: 0.8rem;

  &:hover {
    border: 1px solid var(--theme-color-blue);
    background-color: var(--theme-color-white);
    color: var(--theme-color-blue);
  }
}

.comments-number {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  margin-left: 0.25em;
  font-weight: bold;
  background-color: var(--theme-color-blue);
  color: var(--theme-color-white);
  text-decoration: none;
  font-size: 0.8rem;
  border-radius: 999px;
  position: relative;
  top: -0.25rem;
}

.children {
  margin-left: 1rem;
  padding-left: 1.5rem;
  list-style: none;
  border-left: 1px solid var(--border-color);
}

.avatar {
  max-width: 3rem;
  height: 3rem;
}

.separator {
  margin-top: 4rem;
}