body {
    font-family: Helvetica Neue, Helvetica, Arial, Hiragino Kaku Gothic Pro, Meiryo, MS PGothic, sans-serif;
    color: #333333;
  }
  
  /* メインのカラム幅 */.wp-block {
    max-width: 768px;
  }
  
  /* 「幅広」ブロックの幅 */.wp-block[data-align="wide"] {
    max-width: 1140px;
  }
  
  /* 「全幅」ブロックの幅 */.wp-block[data-align="full"] {
    max-width: none;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333333;
    line-height: 2;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  h2 {
    padding: 0.5rem 0;
    margin: 2rem 0 1rem 0;
    border-bottom: 1px solid #bb2a2a;
  }
  
  h3 {
    padding: 0.25rem 0.75rem;
    margin: 1.5rem 0 1rem 0;
    border-left: 2px solid #2d4059;
  }
  
  pre {
    margin: 1rem 0;
    font-family: Consolas, monospace;
    overflow: auto;
  }
  
  code,
  kbd,
  samp {
    border: 1px solid #eee;
    font-family: Consolas, monospace;
    line-height: 2;
    margin: 0;
    padding: 2px 8px;
  }
  
  p {
  margin: 1rem 0;
  line-height: 1.8;
  }
  
  strong {
    font-weight: bold;
  }
  
  mark {
    background: linear-gradient(
    0deg
    , #fce100, #fce100) no-repeat;
    background-size: 100% 33%;
    background-position: bottom;
  }
  
  a {
    color: #175199;
    text-decoration: none;
    transition-duration: .1s;
    line-break: anywhere;
  }
  
  a:hover  {
    text-decoration-line: underline;
  }
  
  td, th {
    padding: 0.5em 0.7em;
    border: 1px solid #dfdfdf;
    line-height: 2;
  }
  
  .is-style-stripes td, .is-style-stripes th {
    border-color: #dfdfdf !important;
  }
  
  thead > tr > th {
    background-color: #333333;
    color: #fff;
    font-weight: bold;
  }
  
  tr td strong {
    font-weight: bold;
  }
  
  
  .wp-block-image figcaption {
  color: #555;
  }
  
  ul,
  ol {
  line-height: 2;
  padding: 0 0 0 2em;
  margin: 1em 0;
  }
  
  ul {
  list-style: disc;
  }
  
  ol {
  list-style: decimal;
  }
  